/*
File Name: navigation.css
Date: 03/04/20
Programmer: Aster Bonisteel
*/

/* Based on http://kmturley.blogspot.com/2014/06/responsive-mobile-dropdown-navigation.html */
/* Modified for mobile-first design */

/* MOBILE and TABLET styles */

/* Set up menu */

/* remove bullet in front of list items in menu */

.header ul {
    list-style-type: none;
    margin-top: 0;
    padding-left: 0;
    overflow: hidden;
    float: right;
    background-color: #FAFAFA;
    position: absolute;
    position: absolute;
    top: 0px;
    right: 0px;
}

/* Nav hover color at full width */

.menu li a {
    width: 100%;
    display: block;
}

/* remove underline in links. */

.header li a {
    text-decoration: none;
    color: #000000;
    transition: 0.2s;
}

/* space around each of the menu items */

.header li a {
    padding: 10px 30px;
    width: 100%;
}

/* clear float on line below */

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .1s ease-out;
}

/* menu icon for responsive hamburger menu */

.header .menu-icon {
    /* location of hamburger icon */
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 32px 25px;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
}

.header .menu-icon .navicon {
    /* center line of hamburger icon */
    background: #FF0000;
    display: block;
    height: 4px;
    position: relative;
    transition: background .1s ease-out;
    width: 25px;
}

.header .menu-icon .navicon:before,
/* top and bottom lines of hamburger icon */
.header .menu-icon .navicon:after {
    background: #FF0000;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .1s ease-out;
    width: 100%;
    z-index: 1;
}

.header .menu-icon .navicon:before {
    top: 8px;
}

.header .menu-icon .navicon:after {
    top: -8px;
}

/* respond to click on hamburger menu icon */

.header .menu-btn {
    /* hide checkbox */
    display: none;
}

.header .menu-btn:checked ~ .menu {
    max-height: 500px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

/* animations */

.header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}

/* adds border styles to menu when open
(when added to ul normally, a shadow appears above menu when closed) */

.header .menu-btn:checked ~ ul {
    border: 1px solid transparent;
    border-radius: 0 0 0 10px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
}

/* menu width */

.header li {
    padding: 10px 115px;
    text-align: center;
}

/* li item hover/active */

.header li:hover,
.header li:active {
    transition: 0.4s;
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

/*  TABLET: NAVBAR WIDENS AT 600 PX OR HIGHER */
@media only screen and (min-width: 600px) {
    .header li {
        padding: 15px 175px;
    }
}

/*  DESKTOP: CREATE HORIZONTAL NAVIGATION BAR AT 1025 PX OR HIGHER */
@media only screen and (min-width: 1025px) {

    /* Note: We float the entire menu to the right, so it is right-aligned. Then we float each list item to the left,
so it sits to next to the next item. We have to clear the float in the intro section so the text won't wrap 
around the menu. */

    .header .menu {
        float: right;
        margin: 10px 0;
        max-height: none;
    }

    .header li a:hover {
        background-color: #FF0000;
        color: white;
    }

    .header ul {
        overflow: visible;
        margin-bottom: 20px;
        float: none;
        background: transparent;
        position: relative;
        top: 0px;
        /* remove border and box shadow for desktop */
        border: none;
        box-shadow: none;
    }

    .header li {
        float: left;
        padding: 0px;
    }

    .header li a {
        padding: 10px 10px;
    }

    .intro {
        clear: left;
    }

    /* hide the checkbox and label for it */

    .header .menu-icon,
    .menu-btn {
        display: none;
    }

}
